* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  height: 356px;
  width: 600px;
  /* border: 3px solid black; */
  backdrop-filter: blur(11px) saturate(180%);
  -webkit-backdrop-filter: blur(80px) saturate(10%);
  background-color: rgba(48, 168, 158, 0.69);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

h1 {
  font-weight: bolder;
  margin-top: -10px;
}

label {
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  font-weight: 600;
  color: rgb(255, 42, 0);
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#ans {
  font-size: 18px;
  margin-top: 30px;
  color: #333;
}
